## Preprocessing

In [1]:
%matplotlib inline
# Import our dependencies
import matplotlib as plt

# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
import sweetviz as sv

#  Import and read the charity_data.csv.
import pandas as pd 
df = pd.read_csv("../Resources/charity_data.csv")
df.head()

C:\Users\Hamilton\anaconda3\envs\deeplearning\lib\site-packages\tqdm\auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
df = df.drop("EIN", axis=1)
df = df.drop("NAME", axis=1)
df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Determine the number of unique values in each column.
df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# # importing sweetviz
# import sweetviz as sv

# #analyzing the dataset
# sweetviz_report = sv.analyze(df)
# #display the report
# sweetviz_report.show_html('sweetviz_report.html')

In [5]:
# Look at APPLICATION_TYPE value counts for binning
df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE
application_types_to_replace = ["T9","T13","T12","T2","T25","T14","T29","T15","T17"]

# Replace in dataframe
for app in application_types_to_replace:
    df['APPLICATION_TYPE'] = df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
class_df = df['CLASSIFICATION'].value_counts()
class_df

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1
# class_df[(class_df > 1)]

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = class_df[(class_df < 1000)].index

# Replace in dataframe
for cls in classifications_to_replace:
    df['CLASSIFICATION'] = df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [10]:
df.shape

(34299, 10)

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
dummies_df = pd.get_dummies(df, drop_first = True)

In [12]:
dummies_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,ORGANIZATION_Trust,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,108590,1,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,6692,1,0,0,1,0,0,0,0,...,1,0,1,0,0,0,0,0,0,0
4,1,142590,1,0,0,1,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0

In [13]:
# Split our preprocessed data into our features and target arrays
X = dummies_df.drop("IS_SUCCESSFUL", axis=1)
y = dummies_df["IS_SUCCESSFUL"]

In [14]:
# Split the preprocessed data into a training and testing dataset
# Use sklearn to split dataset
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [15]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [16]:
# pd.DataFrame(X_train_scaled)

## Compile, Train and Evaluate the Model

In [17]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

nn_model = tf.keras.models.Sequential()

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=18, activation="relu", input_dim=36))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units=9, activation="relu"))

# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 18)                666

 dense_1 (Dense)             (None, 9)                 171

 dense_2 (Dense)             (None, 1)                 10

=================================================================
Total params: 847
Trainable params: 847
Non-trainable params: 0
_________________________________________________________________

In [18]:
# Compile the model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [19]:
from keras.callbacks import Callback
mc = tf.keras.callbacks.ModelCheckpoint('weights{epoch:08d}.h5', save_weights_only=True, period=5)

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of batches seen.

In [20]:
# Train the model
# fit_model = nn_model.fit(X_train_scaled, y_train, epochs=20)
fit_model = nn_model.fit(X_train_scaled, y_train, callbacks=[mc], epochs=20)

Epoch 1/20
804/804 [==============================] - 8s 5ms/step - loss: 0.6081 - accuracy: 0.6851
Epoch 2/20
804/804 [==============================] - 4s 5ms/step - loss: 0.5629 - accuracy: 0.7263
Epoch 3/20
804/804 [==============================] - 4s 5ms/step - loss: 0.5572 - accuracy: 0.7283
Epoch 4/20
804/804 [==============================] - 4s 5ms/step - loss: 0.5544 - accuracy: 0.7298
Epoch 5/20
804/804 [==============================] - 4s 5ms/step - loss: 0.5524 - accuracy: 0.7314
Epoch 6/20
804/804 [==============================] - 4s 5ms/step - loss: 0.5510 - accuracy: 0.7305
Epoch 7/20
804/804 [==============================] - 4s 5ms/step - loss: 0.5500 - accuracy: 0.7322
Epoch 8/20
804/804 [==============================] - 4s 5ms/step - loss: 0.5497 - accuracy: 0.7318
Epoch 9/20
804/804 [==============================] - 4s 5ms/step - loss: 0.5492 - accuracy: 0.7325
Epoch 10/20
804/804 [==============================] - 4s 5ms/step - loss: 0.5484 - accuracy: 0.7337
Epoch 11/20
804/804 [==============================] - 4s 5ms/step - loss: 0.5478 - accuracy: 0.7332
Epoch 12/20
804/804 [==============================] - 4s 5ms/step - loss: 0.5473 - accuracy: 0.7341
Epoch 13/20
804/804 [==============================] - 3s 4ms/step - loss: 0.5475 - accuracy: 0.7330
Epoch 14/20
804/804 [==============================] - 3s 4ms/step - loss: 0.5471 - accuracy: 0.7335
Epoch 15/20
804/804 [==============================] - 4s 5ms/step - loss: 0.5467 - accuracy: 0.7333
Epoch 16/20
804/804 [==============================] - 3s 4ms/step - loss: 0.5467 - accuracy: 0.7342
Epoch 17/20
804/804 [==============================] - 3s 4ms/step - loss: 0.5463 - accuracy: 0.7351
Epoch 18/20
804/804 [==============================] - 3s 4ms/step - loss: 0.5460 - accuracy: 0.7355
Epoch 19/20
804/804 [==============================] - 3s 4ms/step - loss: 0.5459 - accuracy: 0.7344
Epoch 20/20
804/804 [==============================] - 4s 4ms/step - loss: 0.5457 - accuracy: 0.7351

In [21]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5543 - accuracy: 0.7269 - 1s/epoch - 5ms/step
Loss: 0.5542616844177246, Accuracy: 0.7268804907798767

In [22]:
# Export our model to HDF5 file
nn_model.save("AlphabetSoupCharity.h5")